.side-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 52px;
  background-color: white;
  width: 72px;
}

  
.sidebar-link{
  height: 40px;
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-top: 30px;



}

.sidebar-link:hover{
  background-color: lightgrey;
}
.sidebar-link img{
  height:24px;
  margin-bottom: 2px;
}
.sidebar-link div{
  font-size: 12px;

}