p{
    font-family:Roboto;
    margin-top:0;
    margin-bottom:0;
  }
.video-title {
  font-weight:bold;
  font-size:18px;
  width:280px;
  margin-bottom:5px;
  line-height:24px;

}
.video-stats{
 font-size:14px;
 color:rgb(96, 96, 96);
 margin-bottom:20px;
}
.video-author{
 font-size:14px;
 color:rgb(96, 96, 96);
 margin-bottom:22px;
}
.video-discription {
  font-size:14px;
  color:rgb(96, 96, 96);
  width:280px;
  line-height:20px;
}
.apple-text{
  background-color:red;
  padding-top:18px;
  padding-bottom:18px;
  margin-top:50px;
  font-size:14px;
  padding-left: 10px;
  color:white;

}

.shop-link{
  cursor: pointer;

}
.shop-link:hover{
  text-decoration:underline;
}